In [364]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import pandas as pd
from pandas_ply import *
install_ply(pd)

In [340]:
os.getcwd()
os.chdir('C:\Users\dylan_000\Downloads\Project')

#1. Population Data
###Let us read in the data on population counts. We only need the city name, the state, and the population for each of the 100 most populous locales.

In [432]:
populations = pd.read_csv('populations_raw.csv')
populations = populations[['GC_RANK.display-label.1','respop72014']]
populations['City'],populations['State'] = [city.split(',')[0] for city in populations['GC_RANK.display-label.1']],\
    [city.split(',')[1] for city in populations['GC_RANK.display-label.1']]
populations = populations.iloc[:,1:4]
populations.columns = ['Population','City','State']
populations = populations.iloc[:100,:]
populations.State = [state.lstrip().title() for state in populations.State]
populations.head()

   Population               City         State
0     8491079      New York city      New York
1     3928864   Los Angeles city    California
2     2722389       Chicago city      Illinois
3     2239558       Houston city         Texas
4     1560297  Philadelphia city  Pennsylvania

#2. Agency Employee Data
###Now it is time to examine the data on staffing levels for each agency. We will clean up the column names, and clean up the column for stata names in order to have a value in each row.

In [433]:
employees = pd.read_excel('employees_raw.xls')
employees = employees[3:]
employees.columns = ['State','City','Population','TotalEmployees','TotalOfficers','TotalCivilians']
employees.State = [str(state).lower().title() for state in employees.State]
employees.head()
state is None
employees.index = range(len(employees))
for i in range(len(employees)):
    if state is None:
        state = 'Alabama'
        continue
    if employees.loc[i,'State'] == 'Nan':
        employees.loc[i,'State'] = state
    else: state = employees.loc[i,'State']
employees.head()

     State         City Population TotalEmployees TotalOfficers TotalCivilians
0  Alabama  Albertville      21655             69            44             25
1  Alabama    Andalusia       9098             39            28             11
2  Alabama     Anniston      22567            102            83             19
3  Alabama      Ardmore       1332             10             7              3
4  Alabama         Argo       4200              8             8              0

#3. Crime Data
###Last, but surely not least, we will bring the crime data into play for the year 2014. This is for each city-level agency, and this will need to be thoroughly cleaned before being exported to be analyzed in R.

In [555]:
crimes = pd.read_excel('crimes_raw.xls')
crimes = crimes[3:]
crimes.columns = ['State','City','Population','ViolentCrime','Murder','RapeRevised','RapeLegacy','Robbery','AggAssaults',\
                  'PropertyCrime','Burglary','Larceny','MVLarceny','Arson']
crimes.index = range(len(crimes))
crimes.State = [str(state).lower().title() for state in crimes.State]
state = None
for i in range(len(crimes)):
    if state is None:
        state = 'Alabama'
        continue
    if crimes.loc[i,'State'] == 'Nan':
        crimes.loc[i,'State'] = state
    else: state = crimes.loc[i,'State']
crimes['TotalRate'] = ((crimes.ViolentCrime + crimes.PropertyCrime)/crimes.Population) * 100000
crimes['ViolentRate'] = crimes.ViolentCrime/crimes.Population * 100000
crimes['PropertyRate'] = crimes.PropertyCrime/crimes.Population * 100000

NameError: name 'State' is not defined

In [475]:
welfare = pd.read_excel('welfare_raw.xlsx')
welfare.head()
welfare.State = [re.findall('[^0-9]', str(state).lower()) for state in welfare.State]
welfare.State = [''.join(state).title() for state in welfare.State]

In [541]:
joined = pd.merge(populations,welfare,left_on='State',right_on='State')
joined.City = [re.findall('(.+) city',city) for city in joined.City]
joined.City = [''.join(city) for city in joined.City]

In [553]:
crimes.City = [re.findall('(.+) city',str(city)) for city in crimes.City]

In [499]:
joined = pd.merge(joined,crimes[['State','City','ViolentRate','PropertyRate','TotalRate']],how='left',on='State')

In [554]:
crimes

,State,City,Population,ViolentCrime,Murder,RapeRevised,RapeLegacy,Robbery,AggAssaults,PropertyCrime,Burglary,Larceny,MVLarceny,Arson,TotalRate,ViolentRate,PropertyRate
0,Alabama,,2643,8,0,1,NaN,0,7,85,22,52,11,NaN,3518.729,302.6863,3216.042
1,Alabama,,4430,30,0,5,NaN,6,19,373,43,321,9,NaN,9097.065,677.2009,8419.865
2,Alabama,,747,1,0,0,NaN,0,1,31,6,22,3,NaN,4283.802,133.8688,4149.933
3,Alabama,,31568,58,1,9,NaN,11,37,612,68,526,18,NaN,2122.402,183.7304,1938.672
4,Alabama,,21655,23,1,5,NaN,8,9,756,230,454,72,NaN,3597.322,106.211,3491.111
5,Alabama,,14887,81,1,8,NaN,8,64,716,165,523,28,NaN,5353.664,544.0989,4809.565
6,Alabama,,2403,10,0,0,NaN,0,10,43,9,32,2,NaN,2205.576,416.1465,1789.43
7,Alabama,,22567,536,4,42,NaN,77,413,1711,650,969,92,NaN,9957.017,2375.15,7581.867
8,Alabama,,8369,46,0,13,NaN,3,30,567,140,382,45,NaN,7324.65,549.6475,6775.003
9,Alabama,,1332,2,0,0,NaN,0,2,22,2,19,1,NaN,1801.802,150.1502,1651.652
10,Alabama,,4200,4,0,2,NaN,0,2,38,13,20,5,NaN,1000,95.2381,904.7619
11,Alabama,,2164,5,0,0,NaN,0,5,57,12,41,4,NaN,2865.065,231.0536,2634.011
12,Alabama,,1967,11,0,0,NaN,0,11,52,9,42,1,0,3202.847,559.2272,2643.62
13,Alabama,,2262,13,0,3,NaN,0,10,68,26,37,5,NaN,3580.902,574.7126,3006.189
14,Alabama,,24521,6,0,2,NaN,4,0,751,82,663,6,NaN,3087.15,24.46882,3062.681
15,Alabama,,10093,74,0,4,NaN,8,62,280,73,195,12,NaN,3507.381,733.1814,2774.2
16,Alabama,,59854,126,1,19,NaN,19,87,1654,257,1326,71,NaN,2973.903,210.5122,2763.391
17,Alabama,,9087,47,0,3,NaN,11,33,321,58,255,8,NaN,4049.741,517.2224,3532.519
18,Alabama,,1047,11,0,3,NaN,0,8,25,8,17,0,NaN,3438.395,1050.621,2387.775
19,Alabama,,212115,3369,52,182,NaN,1051,2084,13929,3750,8743,1436,145,8155.01,1588.289,6566.721
20,Alabama,,1712,10,0,2,NaN,0,8,69,24,36,9,NaN,4614.486,584.1121,4030.374
21,Alabama,,9747,36,0,5,NaN,3,28,NaN,85,NaN,20,NaN,NaN,369.3444,NaN
22,Alabama,,4878,13,0,2,NaN,1,10,81,7,66,8,NaN,1927.019,266.5027,1660.517
23,Alabama,,5445,37,0,2,NaN,5,30,239,45,180,14,NaN,5068.871,679.5225,4389.348
24,Alabama,,2885,46,0,2,NaN,2,42,161,50,94,17,NaN,7175.043,1594.454,5580.589
25,Alabama,,886,3,0,0,NaN,0,3,26,8,15,3,NaN,3273.138,338.6005,2934.537
26,Alabama,,1835,7,0,1,NaN,1,5,60,16,36,8,NaN,3651.226,381.4714,3269.755
27,Alabama,,1829,11,0,2,NaN,1,8,35,16,16,3,NaN,2515.036,601.4215,1913.614
28,Alabama,,1835,12,0,0,NaN,0,12,135,30,97,8,NaN,8010.899,653.951,7356.948
29,Alabama,,3662,10,0,3,NaN,1,6,191,51,132,8,NaN,5488.804,273.0748,5215.729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9334,Wyoming,,3522,6,0,1,NaN,0,5,71,12,57,2,0,2186.258,170.3578,2015.9
9335,Wyoming,,1159,3,0,0,NaN,0,3,20,8,12,0,0,1984.469,258.8438,1725.626
9336,Wyoming,,6516,17,0,4,NaN,1,12,169,28,135,6,1,2854.512,260.8963,2593.616
9337,Wyoming,,9160,26,0,1,NaN,0,25,199,15,166,18,1,2456.332,283.8428,2172.489
9338,Wyoming,,11056,31,0,6,NaN,3,22,448,30,399,19,0,4332.489,280.3907,4052.098
9339,Wyoming,,24431,67,1,20,NaN,5,41,540,71,432,37,3,2484.548,274.2417,2210.307
9340,Wyoming,,1667,2,0,0,NaN,0,2,8,0,4,4,0,599.88,119.976,479.904
9341,Wyoming,,17920,39,1,3,NaN,1,34,404,69,314,21,3,2472.098,217.6339,2254.464
9342,Wyoming,,1230,1,0,0,NaN,0,1,23,3,18,2,0,1951.22,81.30081,1869.919
9343,Wyoming,,3047,1,0,1,NaN,0,0,22,5,16,1,3,754.8408,32.81917,722.0217
9344,Wyoming,,6842,21,0,1,NaN,0,20,107,29,73,5,0,1870.798,306.9278,1563.87
9345,Wyoming,,3657,7,0,2,NaN,0,5,110,32,66,12,0,3199.344,191.4137,3007.93
9346,Wyoming,,5447,3,0,1,NaN,0,2,54,0,54,0,0,1046.448,55.07619,991.3714
9347,1 The Figures Shown In This Column For The Off...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9348,2 The Figures Shown In This Column For The Off...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9349,3 The Fbi Does Not Publish Arson Data Unless I...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9350,4 The Fbi Determined That The Agency'S Data We...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9351,"5 The Population For The City Of Mobile, Alaba...",,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9352,6 This Agency Began The Year Submitting Rape D...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9353,7 Because Of Changes In The State/Local Agency...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9354,8 The Fbi Determined That The Agency'S Data We...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9355,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9356,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9357,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9358,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9359,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9360,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9361,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9362,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9363,9 The Fbi Determined That The Agency Did Not F...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [522]:
joined2.State = [re.findall('[^0-9]',state) for state in joined2.State]
joined2.State = [''.join(state) for state in joined2.State]

In [540]:
joined

,Population,City_x,State,Welfare,City_y,ViolentRate,PropertyRate,TotalRate
0,8491079,New York,New York,789,Adams Village,0,594.2734,594.2734
1,8491079,New York,New York,789,Addison Town and Village,77.88162,1908.1,1985.981
2,8491079,New York,New York,789,Afton Village6,0,121.9512,121.9512
3,8491079,New York,New York,789,Akron Village,35.18649,598.1703,633.3568
4,8491079,New York,New York,789,Albany6,813.4287,3943.405,4756.834
5,8491079,New York,New York,789,Albion Village6,442.7793,3474.114,3916.894
6,8491079,New York,New York,789,Alexandria Bay Village6,0,632.3397,632.3397
7,8491079,New York,New York,789,Alfred Village6,272.8175,744.0476,1016.865
8,8491079,New York,New York,789,Altamont Village6,58.03831,116.0766,174.1149
9,8491079,New York,New York,789,Amherst Town6,107.6897,1738.179,1845.869
10,8491079,New York,New York,789,Amity Town and Belmont Village6,0,0,0
11,8491079,New York,New York,789,Amityville Village,126.1962,2082.238,2208.434
12,8491079,New York,New York,789,Amsterdam,149.1795,2707.332,2856.511
13,8491079,New York,New York,789,Angelica Village6,118.2033,709.2199,827.4232
14,8491079,New York,New York,789,Arcade Village,0,1231.527,1231.527
15,8491079,New York,New York,789,Ardsley Village,21.92502,548.1254,570.0504
16,8491079,New York,New York,789,Asharoken Village,0,914.6341,914.6341
17,8491079,New York,New York,789,Attica Village,0,479.6163,479.6163
18,8491079,New York,New York,789,Avon Village6,60.006,420.042,480.048
19,8491079,New York,New York,789,Baldwinsville Village6,26.72011,868.4035,895.1236
20,8491079,New York,New York,789,Ballston Spa Village6,146.2523,1334.552,1480.804
21,8491079,New York,New York,789,Batavia6,466.3995,3934.835,4401.235
22,8491079,New York,New York,789,Bath Village6,245.4848,2595.125,2840.61
23,8491079,New York,New York,789,Beacon6,300.0698,1709.7,2009.77
24,8491079,New York,New York,789,Bedford Town6,11.24733,691.7107,702.958
25,8491079,New York,New York,789,Bethlehem Town6,98.1156,1310.132,1408.247
26,8491079,New York,New York,789,Binghamton6,659.759,4430.12,5089.879
27,8491079,New York,New York,789,Black River,0,215.5172,215.5172
28,8491079,New York,New York,789,Blooming Grove Town6,66.88963,719.0635,785.9532
29,8491079,New York,New York,789,Bolton Town,0,387.7639,387.7639
...,...,...,...,...,...,...,...,...
30654,216282,Boise City,Idaho,309,Montpelier,355.4502,1895.735,2251.185
30655,216282,Boise City,Idaho,309,Moscow,48.57316,2845.578,2894.151
30656,216282,Boise City,Idaho,309,Mountain Home,343.1909,1810.88,2154.071
30657,216282,Boise City,Idaho,309,Nampa,303.1857,2752.607,3055.793
30658,216282,Boise City,Idaho,309,Orofino,161.4987,2260.982,2422.481
30659,216282,Boise City,Idaho,309,Osburn,259.0674,2525.907,2784.974
30660,216282,Boise City,Idaho,309,Parma,48.59086,971.8173,1020.408
30661,216282,Boise City,Idaho,309,Payette,377.5111,2062.829,2440.34
30662,216282,Boise City,Idaho,309,Pinehurst,61.76652,1791.229,1852.996
30663,216282,Boise City,Idaho,309,Ponderay,90.57971,13496.38,13586.96
30664,216282,Boise City,Idaho,309,Post Falls,171.2789,2824.422,2995.701
30665,216282,Boise City,Idaho,309,Preston,58.12827,1240.07,1298.198
30666,216282,Boise City,Idaho,309,Priest River,175.0292,2333.722,2508.751
30667,216282,Boise City,Idaho,309,Rathdrum,125.927,1958.864,2084.791
30668,216282,Boise City,Idaho,309,Rexburg,33.61596,817.9883,851.6042
30669,216282,Boise City,Idaho,309,Rigby,24.62448,1846.836,1871.46
30670,216282,Boise City,Idaho,309,Rupert,337.2981,2538.612,2875.91
30671,216282,Boise City,Idaho,309,Salmon,365.9348,1131.071,1497.006
30672,216282,Boise City,Idaho,309,Sandpoint,196.6182,3276.969,3473.588
30673,216282,Boise City,Idaho,309,Shelley,22.78423,1184.78,1207.564
30674,216282,Boise City,Idaho,309,Shoshone,266.3116,798.9348,1065.246
30675,216282,Boise City,Idaho,309,Soda Springs,33.8524,880.1625,914.0149
30676,216282,Boise City,Idaho,309,Spirit Lake,148.8095,1438.492,1587.302
30677,216282,Boise City,Idaho,309,St. Anthony,174.1149,1276.843,1450.958
30678,216282,Boise City,Idaho,309,St. Maries,388.4333,1122.141,1510.574
30679,216282,Boise City,Idaho,309,Sun Valley,212.917,851.6678,1064.585
30680,216282,Boise City,Idaho,309,Twin Falls,245.9122,3147.245,3393.158
30681,216282,Boise City,Idaho,309,Weiser,56.68934,1870.748,1927.438
30682,216282,Boise City,Idaho,309,Wendell,148.6436,1003.344,1151.988
30683,216282,Boise City,Idaho,309,Wilder,378.0718,1386.263,1764.335